body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

/* ul reset */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #1F2937;
  padding: 16px 150px;
  align-items: center;
  box-sizing: border-box;
}

.footer {
  display: flex;
  height: 100px;
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

/* header links */
.links ul {
  display: flex;
  gap: 24px;
  font-size: 18px;
}

.links a {
  color: #E5E7EB;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.content-heading, .content-info, .content-quote, .content-sign-up {
  flex: 1;
  padding: 0 150px;
}

.content-heading {
  background-color: #1F2937;
  align-content: center;
}

.content-quote {
  background-color: #E5E7EB;
}

.title-and-image {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}

.heading {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.heading-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.button {
  width: fit-content;
  background-color: #3882F6;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  margin: 0;
  overflow: visible;
  font-size: 18px;
}

.info-title {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100px;
}

.info-card-image {
  height: 130px;
  width: 130px;
  border: solid #3882F6;
  border-radius: 10px;
}

.info-card-text {
  text-align: center;
  font-size: 14px;
}
